

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/validate.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/validate.js"></script>

</head>


<div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"> 

      <div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    

<form role="form" action="/login" method="post" >


<div class="form-group form-input">
<label for="name" class="form-label">Username</label>
<input type="text" name="username" id="username" value="" required />
</div>

<div class="form-group form-input">
<label for="password" class="form-label">Password</label>
<input type="password" name="password" id="password" value="" required />
</div>


<div class="form-group">
<button type="submit" class="btn btn-warning">Login</button>
</div>


</form>



<p class="loginhere">
Not a member ? <a href="/register" class="loginhere-link">Signup here</a></p>
<button type="button" class="btn btn-warning  mb-4"><a href="/">Home</a>



</div></div>
</div>
    <div class="col-md-3"></div>
  </div>
</div>
</div>




